PORT=3001
NODE_ENV=development
JWT_SECRET=skift-denne-hemmelighed

# Discord OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://DIN-APP.up.railway.app/auth/callback
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=

# Roller
DISCORD_POLITI_ROLLE_IDS=
DISCORD_ADMIN_ROLLE_IDS=

# Discord kanaler
DISCORD_RAPPORT_KANAL_ID=
DISCORD_BOEDE_KANAL_ID=
DISCORD_ANHOLDELSE_KANAL_ID=
DISCORD_EFTERLYST_KANAL_ID=
DISCORD_IDENTIFIKATION_KANAL_ID=

# Nyhavn RP hoved-server (e-Boks)
DISCORD_MAIN_GUILD_ID=
DISCORD_MAIN_EBOKS_KATEGORI_ID=
DISCORD_MAIN_EBOKS_KANAL_ID=

# ERLC API
ERLC_SERVER_KEY=

# Database
DB_PATH=./data/mdt.db
